################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.db-shm
*.db-wal
*.vsidx
*.testlog
*.manifest
*.suo
/.vs/**/*
*.v2
*.user
/Theatre_Timeline/wwwroot/temp
/Theatre_Timeline/Theatre_Timeline.csproj.user
/Theatre_Timeline/Theatre_Timeline.csproj.user
/Theatre_Timeline/Properties/PublishProfiles/FolderProfile.pubxml
/Theatre_Timeline/wwwroot/.well-known/microsoft-identity-association.json
/Theatre_Timeline/Properties/PublishProfiles/TimelyTrailsWebService - Web Deploy.pubxml
/Theatre_Timeline/Properties/ServiceDependencies/TimelyTrailsWebService - Web Deploy/profile.arm.json
/Theatre_Timeline/wwwroot/.well-known/microsoft-identity-association.json
