################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.db-shm
*.db-wal
*.vsidx
*.testlog
*.manifest
*.suo
/.vs/**/*
*.v2
*.user
*.pubxml
profile.arm.json
/Theatre_Timeline/wwwroot/temp
/Theatre_Timeline/Theatre_Timeline.csproj.user
/Theatre_Timeline/Theatre_Timeline.csproj.user
/Theatre_Timeline/.config/dotnet-tools.json
/Theatre_Timeline/wwwroot/tenants/*
microsoft-identity-association.json
