<h3>Timeline</h3>

@page "/timeline"

<MudTimeline TimelinePosition="@TimelinePosition.Alternate">
    <MudTimelineItem>
        <MudText>Insert Poll here.</MudText>
    </MudTimelineItem>
    <MudTimelineItem>
        <MudText Align="Align.End">Insert update to parents here.</MudText>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Primary">
        <MudText>Insert Instagram Post here</MudText>
    </MudTimelineItem>
</MudTimeline>

@code {

}
