@namespace Theatre_TimeLine.Shared

@inherits LayoutComponentBase

<PageTitle>Theatre_TimeLine</PageTitle>

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>


<div class="page" @onkeyup="SetKey">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string key = string.Empty;

    private void SetKey(KeyboardEventArgs args)
    {
        key = args.Key;
    }
}