@namespace Theatre_TimeLine.Shared

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Theatre Timeline</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <MudNavMenu>
        <MudNavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </MudNavLink>
        <MudNavLink class="nav-link" href="TenantManagement">
            <span class="oi oi-book" aria-hidden="true"></span> Tenant Manager
        </MudNavLink>
        <MudNavLink class="nav-link" href="timeline">
            <span class="oi oi-book" aria-hidden="true"></span> Road To?
        </MudNavLink>
    </MudNavMenu>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
